/* style.css */
body {
    background-color: #0f0f0f; /* Fond presque noir */
    color: #00ff41; /* Vert Terminal */
    font-family: 'Courier New', Courier, monospace; /* Police style code */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    border: 2px solid #00ff41;
    padding: 30px;
    max-width: 600px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px #00ff41;
}

h1 {
    text-transform: uppercase;
    border-bottom: 1px solid #00ff41;
    padding-bottom: 10px;
}

.question {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #ffffff; /* Question en blanc pour lisibilité */
}

input {
    background: #222;
    border: 1px solid #00ff41;
    color: #fff;
    padding: 10px;
    width: 70%;
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
}

button {
    background: #00ff41;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}

button:hover {
    background: #fff;
}

.indice {
    font-size: 0.8rem;
    color: #666;
    margin-top: 20px;
    font-style: italic;
}

.error {
    color: red;
    font-weight: bold;
    display: none; /* Caché par défaut */
    margin-top: 10px;
}